<% provide(:title, 'Home') %>
<div class="center hero-unit">
    <h1>Sistema Académico</h1>

    <h2>
      Sistema Académico de la Institución que permite registrar alumnos,
      docentes y funcionarioas administrativos. Así también, permite el
      manejo de calificaciones y la planificación de tareas y examenes.
    </h2>

    <%= link_to "Registrate Ahora!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>
